body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.app::before{
  z-index: -2;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: '';
  background-image: url('./images/sherlok.jpg');
  filter: brightness(23%); 
  opacity: 0.9;
  background-size: cover;
  background-position: center 30%;
}